/* / Configuração global */
:root {
  --tamanho-maximo: 1280px;
  --bg-color: #ffffff;
  --bg-color-2: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ce0e2d;
  --color-green: #D7E6D1;
  --color-gray: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color-2);
  font-family: "Inter", arial;
  height: 1500px;
}
html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* // Configuração global */
