/* / Configuração global */
:root {
  --tamanho-maximo: 1280px;
  --bg-color: #ffffff;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ce0e2d;
  --color-gray: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: "Inter", arial;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* // Configuração global */
